{%if name is defined and name|length%}
name: {{name}}
{% endif %}

index: {{index}}

type: {{type}}

{% if realert is defined %}
realert:
{% for timeunit, timevalue in realert.items() %}
    {{timeunit}}: {{timevalue}}
{% endfor %}
{%  endif %}

{% if use_strftime_index is defined %}
use_strftime_index: {{use_strftime_index}}
{% endif %}

{% if type == "frequency" %}
timeframe:
{% for timeunit, timevalue in timeframe.items() %}
    {{timeunit}}: {{timevalue}}
{% endfor %}
num_events: {{num_events}}
{% endif %}

{% if filter is defined %}
filter:
{{filter | toyaml}}
{% endif %}

alert:
{{alert | toyaml}}
