{%if name is defined and name|length%}
name: {{name}}
{% endif %}

index: {{index}}

type: {{type}}

{% if type == "frequency" %}
timeframe:
{% for timeunit, timevalue in timeframe.items() %}
    {{timeunit}}: {{timevalue}}
{% endfor %}
num_events: {{num_events}}
{% endif %}

{% if filter is defined %}
filter:
{{filter | toyaml}}
{% endif %}

alert:
{{alert | toyaml}}


{# email start #}
{% if "email" in alert %}
{% if email is sequence and not email is string %}
email:
{{email | toyaml}}
{% else %}
email: {{email}}
{% endif %}

{%if email_config_name is defined %}
{% if email_config_name is sequence and not email_config_name is string%}
email_config_name:
{{email_config_name | toyaml}}
{% else %}
email_config_name: {{email_config_name}}
{% endif %}
{% endif %}

{% endif %}
{# email end #}


{% if "telegram" in alert %}
telegram_bot_token: {{telegram_bot_token}}
telegram_room_id: {{telegram_room_id}}
{% endif %}